body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #1f2933;
  color: white;
  padding: 30px;
  text-align: center;
}

.course {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.course h2 {
  color: #1f2933;
}

ul {
  padding-left: 20px;
}
/* ===== NAVBAR STYLES ===== */

.navbar {
  background: #1f2a37;
  padding: 15px;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 15px;
  background: #e5e7eb;
}
